

.loginview {
    padding: 1em;

    & .loginview__title {
        margin-bottom: 0.8em;
        color: #959595;
    }

    & button {
        margin-left: 0.4em;
    }

    & small {
        color: red;
        font-size: 0.8em;
    }

    .loginview__button,
    .loginview__input {
        padding: .5em .6em;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        vertical-align: middle;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .loginview__button:disabled {
        opacity: 0.4;
    }
}
